@model EventApplication.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "Logowanie";
    Layout = "~/Views/Shared/_StartPageLayout.cshtml";
}

<div class="register_form">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "loginForm", @name = "loginForm" }))
    {
        <div class="field_box">
            <i class="fa fa-envelope-square" aria-hidden="true"></i>
            @Html.EditorFor(model => Model.Email, new { type = "text", htmlAttributes = new { @class = "field", placeholder = "Email" } })
            @Html.ValidationMessageFor(m => Model.Email)
        </div>
        <div class="field_box">
            <i class="fa fa-lock" aria-hidden="true"></i>
            @Html.EditorFor(model => Model.Password, new { type = "password", htmlAttributes = new { @class = "field", placeholder = "Hasło" } })
            @Html.ValidationMessageFor(m => Model.Password)
        </div>
        <div>
            <input class="account_send_button" type="submit" name="login" value="zaloguj" />
        </div>
    }

</div>

