<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Panel użytkownika</title>
    <link type="text/css" rel="stylesheet" href="~/Content/style/organizerMainPage.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    @Html.Partial("~/Views/Partial/_TopMenu.cshtml")
    <aside>
        @Html.Partial("~/Views/Partial/_LeftMenu.cshtml")
    </aside>
    <main>
        @RenderBody()
    </main>
    <script src="/Scripts/external/jquery.min.js"></script>
</body>
</html>
