<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link  type="text/css" rel="stylesheet" href="/Content/style/startPageStyle.min.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <header>
        <img class="logo" src="/Content/images/logo.png" />
        <div class="header_title">Gość weselny</div>
    </header>
    <main>
        <div>
            <div class="app_presentation">
                <div>
                    <!-- desc1-->
                    <div class="app_desc fade" id="slide1">
                        <div class="description_title">sporządzanie listy gości</div>
                        <div class="description">
                            Sporządź listę gości bez stosu kartek i skreśleń.<br />
                            Dodawaj, edytuj, usuwaj informacje.
                        </div>
                        <div class="description_img"><img src="/Content/images/main_img.jpg" /></div>
                    </div>

                    <!-- desc2-->
                    <div class="app_desc fade" id="slide2">
                        <div class="description_title">zarządzanie zaproszeniami</div>
                        <div class="description">
                            Dodawaj zaproszenia oraz przypisuj im gości. <br />Oznacz informację o przekazaniu  zaproszenia.
                        </div>
                        <div class="description_img"><img src="/Content/images/main_img.jpg" /></div>
                    </div>

                    <!-- desc3-->
                    <div class="app_desc fade" id="slide3">
                        <div class="description_title">
                            potwierdzanie obecności online
                        </div>
                        <div class="description">
                            Udostępnij swoim gościom możliwość potwierdzenia obecności online. <br/>
                            Wystarczy przesłać indywidualny link aktywacyjny przypisany każdemu zaproszeniu.
                        </div>
                        <div class="description_img"><img src="/Content/images/main_img.jpg" /></div>
                    </div>
                </div>
                <!--slider -->
                <div class="slider">
                    <div class="dot" onclick="CurrentSlide(1)"></div>
                    <div class="dot" id="slideDot2" onclick="CurrentSlide(2)"></div>
                    <div class="dot" onclick="CurrentSlide(3)"></div>
                </div>
            </div>
        </div>
        <div>
            <div class="account_form">
                <div>
                    <div class="login_box" onclick="location.href='@Url.Action("Login", "Account")'">
                        <span>logowanie</span>
                    </div>
                    <div class="register_box" onclick="location.href='@Url.Action("Register", "Account")'">
                        <span>rejestracja</span>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div class="partial">
                    @RenderBody()
                </div>
                
            </div>
        </div>
    </main>
    <script>
        var nr = "@ViewBag.PageNumber";
    </script>
    <script src="/Scripts/external/jquery.min.js"></script>
    <script src="/Scripts/custom/customAccount.js"></script>
</body>
</html>
