<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link  type="text/css" rel="stylesheet" href="/Content/style/startPageStyle.min.css"/>
</head>
<body>
    <header>
        <img class="logo" src="/Content/images/logo.png" />
        <div class="header_title">Gość weselny</div>
    </header>
    <main>
        <div>
            <div class="app_presentation">
                <div class="description_title">
                    sporządzanie listy gości
                    @*zarządzanie zaproszeniami
                    potwierdzanie obecności online*@
                </div>
                <div class="description">
                    Sporządź listę gości w jednym miejsu bez stosu kartek i skreśleń.<br/>
                    Dodawaj, edytuj, usuwaj informacje.
                    @*Dodawaj zaproszenia oraz przypisuj im gości. Oznacz informację o przekazaniu  zaproszenia.
                    Udostępnij swoim gościom możliwość potwierdzenia online wysyłająć maila aktywacyjnego.
                    Gość po aktywacji może określić dla siebie i swoich osób towarzyszących na które uroczystości przybędzie.*@
                </div>
                <div class="description_img"><img src="/Content/images/main_img.jpg"/></div>
            </div>
        </div>
        <div>
            <div class="account_form"></div>
        </div>
    </main>
    <div>
        @RenderBody()
    </div>
</body>
</html>
