<style>
   aside {
        width: 200px;
        height: 92vh;
        box-shadow: -8px 10px 16px grey;
    }
    .left_panel > div {
        width: 100%;
        height: 100px;
        transition: 0.3s;
        cursor: pointer;
        padding: 34px;
        box-sizing: border-box;
        color: #b0afaf;
        font-family: OpenLight;
        text-align: center;
    }
    .left_panel > div i {
        font-size: 20px;
    }

    .left_panel > div p {
        margin: 0;
        font-size: 12px;
    }
    .left_panel > div:hover {
        background: #fff;
        color: #fecccb;
    }
</style>

<aside>
    <div class="left_panel">
        <div>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <p>Wydarzenia</p>
        </div>
        <div>
            <i class="fa fa-users" aria-hidden="true"></i>
            <p>Lista gości</p>
        </div>
        <div>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <p>Zaproszenia</p>
        </div>
        <div>
            <i class="fa fa-users" aria-hidden="true"></i>
            <p>Lista gości</p>
        </div>
        <div>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <p>Wydarzenia</p>
        </div>
    </div>
</aside>
