@{
    ViewBag.Title = "Lista gości";
    Layout = "~/Views/Shared/_ListDataLayout.cshtml";
}

<section class="panel_title">
    <div>Lista gości</div>
</section>
<section class="padding_section">
    <div id="addGuest" class="button action_button" onclick="location.href='@Url.Action("AddGuest", "Guest")'">dodaj gościa</div>
</section>
<section>
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</section>


