@{
    ViewBag.Title = "Lista gości";
    Layout = "~/Views/Shared/_ListDataLayout.cshtml";
}

<section class="panel_title">
    <div>Lista gości</div>
</section>
<section class="padding_section display_inline">
    <div id="addGuest" class="button action_button" onclick="location.href='@Url.Action("AddGuest", "Guest")'">dodaj gościa</div>
</section>
<section class="display_inline" style="padding-left: 10px">
    <div id="deleteMore" class="button action_button" onclick="">usuń</div>
</section>


<section class="table padding_section">
    <table id="guestsTable" class="find-duplicates table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
        <thead>
            <tr>
                <th><span class="columnName"><input type="checkbox" id="checkAllRows" value="all" data-size="sm"></span></th>
                <th><span class="columnName">Gość</span></th>
                <th><span class="columnName">Wiek</span></th>
                <th><span class="columnName">Wesele</span></th>
                <th><span class="columnName">Poprawiny</span></th>
                <th><span class="columnName">Nocleg</span></th>
                <th><span class="columnName">Menu</span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span><input type="checkbox" value="1" name="rowId" id="rowId"></span></td>
                <td><span class="columnValue">Natalia Gawęda</span></td>
                <td><span class="columnValue">Dorosły</span></td>
                <td><span class="columnValue">Tak</span></td>
                <td><span class="columnValue">Tak</span></td>
                <td><span class="columnValue">Tak</span></td>
                <td><span class="columnValue">Standard</span></td>
                <td><span class="columnValue">
                    <i class="fa fa-pencil-square-o" aria-hidden="true" onclick="location.href='@Url.Action("EditGuest", "Guest")'"></i>
                    <i class="fa fa-trash-o" aria-hidden="true" onclick="location.href='@Url.Action("DeleteGuest", "Guest")'"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</section>
@Scripts.Render("~/bundles/main")
<script>
    $(document).ready(function () {
        $('#guestsTable').DataTable();
    });
</script>


