@model EventApplication.Models.ViewModels.EventViewModel

@{
    ViewBag.Title = "Uroczystość";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="userEvent padding_section" >
    <div class="event_description" id="readOnlyEvent">

    </div>
    <img class="flowerTop" src="/Content/images/flower1.png" />
    <img class="flowerBottom" src="/Content/images/flower2.png" />
</section>


