
@{
    ViewBag.Title = "Zaproszenia";
    Layout = "~/Views/Shared/_ListDataLayout.cshtml";
}

<section class="panel_title">
    <div>List zaproszeń</div>
</section>
<section class="padding_section display_inline">
    <div id="addInvitation" class="button action_button" onclick="location.href='@Url.Action("AddGuest", "Guest")'">nowe zaproszenie</div>
</section>
<section class="table padding_section">
    <table id="invitationsTable" class="find-duplicates table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
        <thead>
            <tr>
                <th><span class="columnName"><input type="checkbox" id="checkAllRows" value="all" data-size="sm"></span></th>
                <th><span class="columnName">Gość</span></th>
                <th><span class="columnName">Wiek</span></th>
                <th><span class="columnName">Wesele</span></th>
                <th><span class="columnName">Poprawiny</span></th>
                <th><span class="columnName">Nocleg</span></th>
                <th><span class="columnName">Menu</span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</section>
@Scripts.Render("~/bundles/main")
<script>
    $(document).ready(function () {
        $('#invitationsTable').DataTable();
    });
</script>
