@font-face {
  font-family: OpenLight;
  src: url("/fonts/OpenSans-Light.ttf") format("opentype"); }

main {
  width: 84%;
  font-family: OpenLight;
  font-size: 14px; }

main, aside {
  float: left; }

.event_description {
  width: 70%;
  height: 400px;
  background: #ffffff;
  display: block;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  color: grey;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 0 4px #b7b7b7; }
  .event_description span {
    font-weight: 700; }

.event_info {
  text-transform: uppercase; }

.event_organizators {
  text-align: left; }

