@font-face {
  font-family: MontserratLight;
  src: url("/fonts/Montserrat-ExtraLight.ttf") format("opentype"); }

@font-face {
  font-family: MontserratRegular;
  src: url("/fonts/Montserrat-Regular.ttf") format("opentype"); }

@font-face {
  font-family: OpenLight;
  src: url("/fonts/OpenSans-Light.ttf") format("opentype"); }

@font-face {
  font-family: OpenRegular;
  src: url("/fonts/OpenSans-Regular.ttf") format("opentype"); }

body {
  background: #efefef;
  margin: 0; }

header {
  background: #efefef;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
  font-family: MontserratLight;
  font-size: 16px; }

.header_title {
  display: inline-block;
  position: relative;
  bottom: 18px;
  font-weight: 500;
  color: #acabab; }

.logo {
  height: 60px;
  max-width: 90px;
  padding: 10px 0 10px 30px; }

.log_out {
  text-align: center;
  font-size: 12px;
  background: lightgrey;
  padding: 20px 0px;
  cursor: pointer; }

.log_out:hover {
  opacity: 0.9; }

.log_out.not_active {
  display: none; }

log_out.active {
  display: block; }

#userIcon {
  cursor: pointer; }

.user_log {
  position: absolute;
  top: 36px;
  right: 30px;
  color: grey; }

#userName {
  margin-right: 10px; }

aside {
  max-width: 100px;
  height: 92vh;
  box-shadow: -8px 10px 16px grey; }

.left_panel > div {
  width: 100%;
  height: 100px;
  transition: 0.3s;
  cursor: pointer;
  padding: 34px;
  box-sizing: border-box;
  color: #b0afaf;
  font-family: OpenLight;
  text-align: center; }

.left_panel > div i {
  font-size: 20px; }

.left_panel > div p {
  margin: 0;
  font-size: 12px; }

.menu_item:hover, .menu_item.active {
  background: #fff;
  color: #fecccb; }

