$backgroundColor: #efefef;
$accentColor: #fecccb;
$textColor: #b0afaf;
$textColorDarken: #757575;

@font-face {
    font-family: MontserratLight;
    src: url("/fonts/Montserrat-ExtraLight.ttf") format("opentype");
}

@font-face {
    font-family: MontserratRegular;
    src: url("/fonts/Montserrat-Regular.ttf") format("opentype");
}

@font-face {
    font-family: OpenLight;
    src: url("/fonts/OpenSans-Light.ttf") format("opentype");
}

@font-face {
    font-family: OpenRegular;
    src: url("/fonts/OpenSans-Regular.ttf") format("opentype");
}
b{
    font-weight: 600;
}
.padding_section {
    padding-left: 40px;
}
body {
    background: $backgroundColor;
    margin: 0;
}

header {
    background: #f7f7f7;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
    font-family: MontserratLight;
    font-size: 16px;
}

.header_title {
    display: inline-block;
    position: relative;
    bottom: 18px;
    font-weight: 600;
    color: #acabab;
}

.logo {
    height: 60px;
    max-width: 90px;
    padding: 10px 0 10px 30px;
}

.log_out {
    text-align: center;
    font-size: 12px;
    background: lightgrey;
    padding: 20px 0px;
    cursor: pointer;
}

.log_out:hover {
    opacity: 0.9;
}

.log_out.not_active {
    display: none;
}

log_out.active {
    display: block;
}

#userIcon {
    cursor: pointer;
}

.user_log {
    position: absolute;
    top: 36px;
    right: 30px;
    color: grey;
}

#userName {
    margin-right: 10px;
}

main {
    width: 84%;
    font-family: OpenLight;
    font-size: 14px;
}

main, aside {
    float: left;
}

aside {
    max-width: 100px;
    height: 92vh;
    box-shadow: -8px 10px 16px grey;
}

.left_panel > div {
    width: 100%;
    height: 100px;
    transition: 0.3s;
    cursor: pointer;
    padding: 34px;
    box-sizing: border-box;
    color: #b0afaf;
    font-family: OpenLight;
    text-align: center;
}

.left_panel > div i {
    font-size: 20px;
}

.left_panel > div p {
    margin: 0;
    font-size: 12px;
}

.menu_item:hover, .menu_item.active {
    background: #fff;
    color: #fecccb;
}
.panel_title {
    color: $textColor;
    font-family: OpenRegular;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    height: 100px;

    div {
        padding: 42px;
        box-sizing: border-box;
    }
}


// forms
.action_buttons {
    width: 70%;
    display: block;
    margin: 0 auto;

    div {
        float: right;
        margin: 10px 0 10px 20px;
    }

    div:hover {
        opacity: 0.8;
    }

    div:first-child {
        background: #dedede;
    }
}

.button {
    width: 200px;
    height: 50px;
    background: $accentColor;
    box-sizing: border-box;
    padding: 16px;
    color: $textColorDarken;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0px 4px #b3b2b2;

}
.button:hover{
    opacity: 0.8;
}

.event_form, .guest_form {
    width: 50%;
    font-family: OpenLight;
    font-size: 14px;
    padding: 0 40px;
    margin-top: -24px;
    box-sizing: border-box;
}

.form_buttons {
    div {
        width: 144px;
        height: 40px;
        padding: 12px;
        float: left;
    }

    div:hover {
        opacity: 0.8;
    }

    div:first-child {
        margin-right: 10px;
        background: #dedede
    }

    > div:nth-child(2) {

        input {
            width: 100%;
            height: 40px;
            border-style: none;
        }
    }
}

.form-group {
    margin: 20px 0;

    label {
        color: $textColor;
        font-weight: 600;
    }

    input:focus {
        outline: none;
        border: 1px solid $accentColor;
    }
}

.field {
    color: $textColorDarken;
    height: 36px;
    width: 300px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
}
.field.error {
    border: 1px solid red;
}
.text-danger{
    color: red;
    font-size: 12px;
}

// event style
.event_description {
    width: 70%;
    height: 400px;
    background: #ffffff;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 40px;
    box-sizing: border-box;
    color: grey;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 0 4px #b7b7b7;

    span {
        font-weight: 700;
    }
}

.event_info {
    text-transform: uppercase;
}

.event_organizators {
    text-align: left;
}


