@font-face {
  font-family: MontserratLight;
  src: url("/fonts/Montserrat-ExtraLight.ttf") format("opentype"); }

@font-face {
  font-family: MontserratRegular;
  src: url("/fonts/Montserrat-Regular.ttf") format("opentype"); }

@font-face {
  font-family: OpenLight;
  src: url("/fonts/OpenSans-Light.ttf") format("opentype"); }

@font-face {
  font-family: OpenRegular;
  src: url("/fonts/OpenSans-Regular.ttf") format("opentype"); }

body {
  background: #efefef;
  margin: 0; }

main {
  width: 84%; }

main, aside {
  float: left; }

.panel_guest_numbers {
  padding: 0px 30px;
  box-sizing: border-box; }
  .panel_guest_numbers div {
    width: 34%;
    height: 100px;
    background: yellow;
    float: left;
    margin: 0 10px; }

.panel_title {
  color: #b0afaf;
  font-family: OpenRegular;
  font-size: 14px;
  text-transform: uppercase;
  height: 100px; }
  .panel_title div {
    padding: 42px;
    box-sizing: border-box; }

