body {
  background: #efefef;
  margin: 0; }

header {
  background: #fff;
  width: 100%;
  box-sizing: border-box; }

.logo {
  max-width: 90px;
  height: auto;
  width: 6%;
  padding: 10px 0 10px 30px; }

.header_title {
  display: inline-block; }

