$backgroundColor: #efefef;
$accentColor: #fecccb ;
$textColor: #757575 ;

@font-face {
    font-family: MontserratLight;
    src: url("/fonts/Montserrat-ExtraLight.ttf") format("opentype");
}
@font-face {
    font-family: MontserratRegular;
    src: url("/fonts/Montserrat-Regular.ttf") format("opentype");
}
@font-face {
    font-family: OpenLight;
    src: url("/fonts/OpenSans-Light.ttf") format("opentype");
}
@font-face {
    font-family: OpenRegular;
    src: url("/fonts/OpenSans-Regular.ttf") format("opentype");
}
body {
    background: $backgroundColor;
    margin: 0;
}
header{
    background: #fff;
    width: 100%;
    box-sizing: border-box;
}

main {
    > div {
        width: 50%;
        float: left;
        padding: 26px 0;
    }
}

.account_form {
    background: #fff;
    width: 56%;
    height: 60vh;
    float: left;
    margin: 14vh 0px;
    color: $textColor;
    font-family: OpenRegular;
}

.app_desc {
    display: none;
}

.app_presentation {
    height: 76vh;
    background: #c4c4c4;
    float: right;
    width: 70%;
    margin: 34px 0px 20px;
    border-radius: 8px;
    padding: 40px;
    box-sizing: border-box;
    color: #fff;
    font-family: OpenLight;

    > div:first-child {
        position: relative;
    }
}
.description_img {
    margin-top: 40px;
    img{
        width: 100%;
    }
}
.description_title {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: MontserratRegular;
    margin-top: 20px;
}
.description {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}
.dot {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 6px;
    cursor: pointer;
    transition: 0.3s;
}
.dot:hover{
    background: $accentColor;
}
.dot.activeDot{
    background: $accentColor;
    width: 16px;
    height: 16px;
}
.header_title {
    display: inline-block;
    position: relative;
    bottom: 18px;
    font-family: MontserratLight;
    font-size: 18px;
    font-weight: 500;
    color: #acabab;
}
.logo {
    max-width: 90px;
    height: auto;
    width: 3%;
    padding: 10px 0 10px 30px;
}

.login_box, .register_box {
    width: 50%;
    float: left;
    height: 30px;
    padding-top: 70px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #c4c4c4;
    cursor: pointer;
    transition: 0.3s;
}

.login_box:hover, .register_box:hover {
    border-bottom: 1px solid $accentColor;
    color: $accentColor;
}

.login_box.active, .register_box.active {
    border-bottom: 1px solid $accentColor;
    color: $accentColor;
}
.slider{
    margin: 40px 0px;
    text-align: center;

}

//forms
input:focus{
    outline: none;
}

.account_send_button {
    width: 100%;
    height: 40px;
    background: $accentColor;
    border: none;
    margin-top: 30px;
    color: $textColor;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 1;
}
.account_send_button:hover {
    opacity: 0.8;
}

.field {
    width: 92%;
    height: 36px;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding-left: 10px;
    color: $textColor;
}
.field_box {
    border-bottom: 1px solid $backgroundColor;
    margin: 30px 0;

    i.active {
        color: $accentColor;
    }
}
.field_box.active {
    border-bottom: 1px solid $accentColor;
}
.field_box.error {
    border-bottom: 1px solid #D50000;

    i {
        color: #D50000
    }
}

.register_form {
    padding: 30px;
    width: 74%;
    margin: 0 auto;
}



@media(min-width: 1920px) {
    .app_presentation {
        height: 74vh;
        margin: 70px 0px 10px;
    }

    .description {
        margin-top: 40px;
    }

    description_img {
        margin-top: 40px;
    }

    .description_title {
        margin-top: 22px;
    }

    .login_box, .register_box {
        padding-top: 84px;
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4 }
    to {opacity: 1 }
}
