.dataTables_info {
  color: #b0afaf; }

#guestsTable, #invitationsTable {
  width: 100%; }

.table {
  margin: 40px 0; }
  .table input, .table select {
    height: 30px;
    border: 1px solid #e6e5e5;
    padding-left: 5px; }
  .table input:focus, .table select:focus {
    border: 1px solid #fecccb;
    outline: none; }
  .table input[type='checkbox'] {
    width: 16px; }
  .table label {
    color: #b0afaf;
    font-weight: 600; }

.columnValue i {
  margin: 0px 10px;
  color: grey;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s; }

.columnValue i:hover {
  color: #fecccb; }

.columnValue a {
  color: #b0afaf;
  text-decoration: none;
  margin-right: 8px; }

.columnValue a:hover {
  color: #fecccb; }

.pagination li {
  list-style: none;
  display: inline-block;
  margin: 0 10px; }
  .pagination li a {
    color: #757575;
    text-decoration: none; }
  .pagination li a:focus {
    border: 1px solid #fecccb;
    outline: none; }

tbody tr {
  text-align: center; }

table.dataTable td {
  padding: 10px; }

table.dataTable tr.odd {
  background-color: #f7e9e9; }

table.dataTable tr.even {
  background-color: #f7f7f7; }

