$backgroundColor: #efefef;
$accentColor: #fecccb;
$textColor: #b0afaf;
$textColorDarken: #757575;

#guestsTable, #invitationsTable {
    width: 100%;
}
.table {
    margin: 40px 0;

    input, select {
        height: 30px;
        border: 1px solid #e6e5e5;
        padding-left: 5px;
    }

    input:focus, select:focus {
        border: 1px solid $accentColor;
        outline: none;
    }

    label {
        color: $textColor;
        font-weight: 600;
    }
}
.columnValue {

    i {
        margin: 0px 10px;
        color: grey;
        font-size: 18px;
        cursor: pointer;
    }
    i:hover{
        color: $accentColor;
    }
}

.pagination {
    li {
        list-style: none;
        display: inline-block;
        margin: 0 10px;

        a {
            color: $textColorDarken;
            text-decoration: none;
        }

        a:focus {
            border: 1px solid $accentColor;
            outline: none;
        }
    }
}

tbody {
    tr{
        text-align: center;
    }
}

table.dataTable td {
    padding: 10px;
}
table.dataTable {
    tr.odd {
        background-color: #e8e8e8;
    }

    tr.even {
        background-color: #f7f7f7;
    }
}
